@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Urbanist:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    color: white !important;
    text-decoration: none !important;
}


th {
    font-weight: bold !important;
}


body {
    background-color: rgb(231, 235, 240);
}